{% extends "base.html" %}

{% block title %}Member Signin{% endblock %}

{% block page_id %}- Forgot Password - Step 3 of 3{% endblock %}

{% block content %}
    <div class="container">

      <form class="login-form" name="forgot_password_step3" method="POST">
      	{% csrf_token %}
        <h3 class="login-form-heading">Let's see how much you know about yourself ... yeah LOL</h3>
        
        <table border="0">
		  	<tr><label for="id_question">{{ que }}</label></tr>
		    <tr>{{ form.answer }}</tr>
		    {% if form.answer.errors %}
		    	<tr>{{ form.answer.errors }}</tr>
		    {% endif %}
  		</table>
        
        <p><input class="buttons" id="id_answer" type="submit" value="submit" name="keypress" /></p> 
        <!-- <input type="label" name ="label1" value="Security Question 1:"></input><br />
        <input type="text" name="text1" placeholder="security answer 1"><br />
        <input type="label" name ="label2" value="Security Question 2:"></input><br />
        <input type="text" name="text2" placeholder="security answer 2"><br /> 
        <input type="label" name ="label3" value="Security Question 3:"></input><br />
        <input type="text" name="text3" placeholder="security answer 3"><br /> 
        <button  type="button" onclick="location.href='forgot_password_step_3.htm'">Go to the Final step</button> <br /><br /> -->        
      </form>

    </div> 
{% endblock %}