{% extends "base.html" %}

{% block title %}Member Validation{% endblock %}

{% block page_id %}- Forgot Password - Step 2 of 3{% endblock %}

{% block content %}
    <div class="container">
      <form class="login-form" name="forgot_password_step2_1" method="POST">
      	{% csrf_token %}
        <h3 class="login-form-heading">Let's warm up a bit before the final test ...</h3>
        
        {{ form.non_field_errors }}

        <table border="0">
		  	<tr>
		    	<td width="20px"><label for="id_email">Registered Email Addr.</label></td>
		    	<td width="5px">:</td>
		    	<td >{{ form.email }}</td>
		    	<td >{{ form.email.errors }}</td>
	      	</tr>
	      	
	      	<tr>
		    	<td>OPTIONALLY ...</td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
	      	</tr>
		  
		  	<tr>
		    	<td><label for="id_phone">Registered Phone No.</label></td>
		    	<td>:</td>
		    	<td>{{ form.phone }}</td>
		    	<td>{{ form.phone.errors }}</td>
	      	</tr>
  		</table>
	
    	<p><input class="buttons" id="id_validate" type="submit" value="Send OTP" name="keypress" /></p>     
      </form>
    </div> 
{% endblock %}